@model Clipping.WebApp.Models.CriarNoticiaViewModel

<div id="modalEdit" class="modal-dialog modal-lg">

    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Editar Notícia</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Titulo" class="control-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Texto" class="control-label"></label>
                            <textarea asp-for="Texto" class="form-control"></textarea>
                            <span asp-validation-for="Texto" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Tags" class="control-label"></label>
                            <select asp-for="Tags" id="TagId" class="form-control" multiple="multiple">
                                <option value="">Escolha no mínimo uma Tag</option>
                                @foreach (var tag in Model.Tags)
                                {
                                    <option value="@tag.Id">@tag.Descricao</option>
                                }
                            </select>
                            <span asp-validation-for="Tags" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UsuarioId" class="control-label"></label>
                            <select asp-for="UsuarioId" id="UsuarioId" class="form-control">
                                <option value="">Selecione um Usuário</option>
                                @foreach (var usuario in Model.Usuarios)
                                {
                                    <option value="@usuario.Id">@usuario.Nome</option>
                                }
                            </select>
                            <span asp-validation-for="UsuarioId" class="text-danger"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" id="btnSalvar" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $('#TagId').select2({
                dropdownParent: $('#modalEdit')
            });

            $("#btnSalvar").click(function (event) {
                event.preventDefault();

                var selectedTags = $("#TagId").val();
                var tagsArray = [];

                $.each(selectedTags, function (index, value) {
                    var parts = value.split(', ');
                    var tag = {
                        id: parts[0],
                        descricao: parts[1]
                    };
                    tagsArray.push(tag);
                });

                var model = {
                    Id: $("#Id").val(),
                    Titulo: $("#Titulo").val(),
                    Texto: $("#Texto").val(),
                    UsuarioId: $("#UsuarioId").val(),
                    Tags: tagsArray,
                };

                $.ajax({
                    url: "/Noticias/EditarNoticia",
                    type: "POST",
                    data: model,
                    success: function (response) {
                        alert(response);
                        window.location.href = "/Noticias/Index";
                    },
                    error: function (request, status, error) {
                        alert(request.responseText)
                    }
                });

            });
        });

    </script>

}