html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*input,
select,
file,
textarea {
    max-width: 400px;
}

.custom-select {*/
    /* Estilos para o dropdown */
    /*background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.custom-select option {*/
    /* Estilos para as opções */
    /*padding: 10px;
}

.custom-select option:checked {*/
    /* Estilos para a opção selecionada */
    /*background-color: #f0f0f0;

}*/